<div class="login-box">
    <h2>LOGIN</h2>
    <form [formGroup]="addForm">
        <div class="user-box">
            <input [class.is-invalid]="email.invalid && email.touched" type="email" name="" required=""
                formControlName="email">
            <label>Email </label>
        </div>
        <div *ngIf="(email.invalid && email.touched) || email.dirty">
            <small *ngIf="email.errors?.required" class="text-danger error-msg">Email is
                required</small>
            <small *ngIf="email.errors?.pattern" class="text-danger error-msg">Please provide a valid
                email
                address</small>
        </div>
        <div class="user-box">
            <input [type]="visibility ? 'text' : 'password'" [(ngModel)]="password1"
                [class.is-invalid]="password.invalid && password.touched" type="password" name="" required=""
                formControlName="password" [(ngModel)]="password1 ">

            <i class="fa fa-eye" aria-hidden="true" (click)="toggleVisibility()" *ngIf="!visibility"></i>
            <i class="fa fa-eye" aria-hidden="true" (click)="toggleVisibility()" *ngIf="visibility"></i>


            <!-- <fa-icon [icon]="faeye" (click)="toggleVisibility()" *ngIf="!visibility"></fa-icon>
            <fa-icon [icon]="faeyes" (click)="toggleVisibility()" *ngIf="visibility"></fa-icon> -->
            <label>Password</label>
        </div>
        <div *ngIf="(password.invalid && password.touched) || password.dirty">
            <small *ngIf="password.errors?.required" class="text-danger error-msg">Password is
                required</small>
        </div>
        <div>
            <p>Don't have an account yet? <a routerLink="/signup">Click here to signup.</a></p>
        </div>
        <button (click)="onSubmit()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </button>
    </form>
</div>