<nav class="navbar navbar-expand-lg navbar-dark bg-dark navmain">
  <div class="container-fluid">
    <img src="assets/project.png">
    <a class="navbar-brand" routerLink="/home"> admin dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse menu" id="navbarColor01">
      <ng-container *ngIf="isUserLoggedIn">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/view">View Projects
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-projects">Add Projects</a>
          </li>
        </ul>
      </ng-container>

      <form class="d-flex">

        <ng-container *ngIf="isUserLoggedIn">
          <!--
                         <ng-container *ngIf="isUserLoggedIn">
                    <button class="btn btn-secondary" (click)="logout()">Logout</button>
                </ng-container>
                <span class="navbar-text">{{username}}</span>
                    <div class="user-picture">
                        <img src="assets/user.png">
                    </div>
                 -->
          <div class="profile">

            <img src="assets/user.png" (click)="toggleMenu()">
          </div>
          <div class="action">

            <div class="menu" [ngClass]="{'active': showMenu}">

              <ul>
                <li>
                  <span>{{username}}</span> <br>
                </li>
                <li>
                  <button class="logout-link" (click)="logout()"> <img src="assets/logout.png">
                    Logout</button>
                </li>
              </ul>
            </div>
          </div>



        </ng-container>
        <ng-container *ngIf="!isUserLoggedIn">
          <button class="btn btn-secondary my-2 my-sm-0 button login-btn" type="submit" routerLink="/login">Login <br><i
              class="fas fa-brackets"></i> </button>

          <!-- <fa-icon class="fa-icon" [icon]="fabracket"></fa-icon> -->
          <button class="btn btn-secondary my-2 my-sm-0 button login-btn signup" type="submit"
            routerLink="/signup">SignUp <br><i class="fas fa-brackets"></i></button>
          <!-- <fa-icon class="fa-icon" [icon]="fabracket"></fa-icon> -->
        </ng-container>


      </form>
    </div>
  </div>
</nav>






<div>
  <router-outlet></router-outlet>

</div>